/*Add CSS styles here*/
#map {    
    height: 700px;    
    width: 80%;
    display: inline-block;
    }

    title {
        display: none;
    }
    
    .sequence-control-container {  
        width: 350px;  
        height: 30px;  
        background-color: rgba(255,255,255,0.8);  
        padding: 10px;  
        line-height: 45px;  
        text-align: center;  
        border: solid gray 1px;  
    }  

    .legend-control-container {
        width: 140px;  
        height: 130px;  
        background-color: rgba(255,255,255,0.8);  
        padding: 0px;  
        line-height: 15px;  
        text-align: center;  
        border: solid gray 1px; 
    }
    
    .range-slider {  
        width: 250px;  
    }  
    
    .step {  
        width: 40px;  
    }  
    
    .step img {  
        width: 100%;  
        height: auto;  
    } 
    
    #forward {
        float: right;
    }
        
    #reverse {  
        float: left;  
    }

.leaflet-popup-content p {
    margin: 0.2em 0;
}
